# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# OS/editor
.DS_Store
.vscode/
.idea/

# Local outputs
outputs/
*.log
